body {
    margin-top: 3em;
    background-color: #2c3e50 !important;
    color: #ffffff;
}

h1, h4 {
    color: white;
}

.container {
    margin: 5em 25% 0 25%;
}

p {
    font-size: 15px;
}

.ui.input.focus {
    width: 20em;
}

#math-display {
    top: 20px;
    position: relative;
    width: auto;
    overflow: hidden;
    word-break: break-word;
    min-height: 10em;
    border: 1px lightgrey;
    border-style: dashed;
    color: white;
    padding: 2em;
    margin-bottom: 2em;
}

#scratch {
    visibility: hidden;
}

textarea {
    width: 100%;
}

#math-input-container {
    width: 100%;
}

#source-container {
    position: relative;
}